---
title: articles newsapi
layout: layout
pagination:
    data: news
    size: 1
    alias: news 
permalink: /{{news.country}}/index.html
---

<style>

.articles  {
    color: black;
    list-style:none;
    --background-article: blue;
}
.title  {
    padding:5px;
    font-size:1.5rem;
    margin-top: 0.5rem;
    
    text-align: left;
    color: var(--background-article);
    

}
.title:hover {
    --background-article:orange;
    font-weight:800;
    background: lightgreen;
}
.title a {
    text-decoration:none;
    color: inherit;
}



</style>
 

 
<ul class="articles">

{{news.country}}
{% for article in news.articles %}
 <li class="title" ><a href={{article.url}} target="_blank">{{article.title}}</a></li>
{% endfor %}
 
</ul>