---
title: index page
layout: layout
---

<style>
        .container{
            width:50%;
            border:1px solid black;
            margin:auto;
        }
     
      .heart{
         color:red;
         font-size: 4rem;
     }
</style>


<div class="container">

    
    <h1 >wellcome to the page 
            
    </h1>
    <div class=heart >
            &#x2665;
        </div>
    </div>
    
    <script src="app.js"></script>
</div>